body{
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}

.btn{
    margin: 0 0 1em 0;
    background: black;
    border-color: gray;
}
.card {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.jumbotron-fluid{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 2em;
}

.display-5{
    padding: 0 2em 0 2em;
}